@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-flex: "Roboto Flex", sans-serif;
  --font-jbm: "JetBrains Mono", monospace;

  /* color palete */
  --base: oklch(0.12 0.12 243);
  --accent: oklch(0.46 0.42 195);
  --accent-hover: oklch(0.58 0.15 200);
}
