@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-jbm: "JetBrains Mono", monospace;

  /* color palete */
  --base: oklch(0.12 0.12 243);
  --accent: oklch(0.46 0.42 195);
  --accent-hover: oklch(0.58 0.15 200);
}
